body {
    margin: 0;
    background-color: #333840;
    font-family: "Vollkorn", serif;
    font-weight: 500;
}

/* Шапка */
header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-bottom: auto;
    font-size: 14px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 1140px;
    position: absolute;
    background-color: #333840;
    background-image:
        linear-gradient(90deg, #333840, transparent 90%, transparent 10%, #333840, #c778dd),
        linear-gradient(0deg, #333840, transparent 90%, transparent 10%, #333840, #c778dd);
    background-size: 21px 21px;
}

.header-logo img {
    height: 180px;
    width: 180px;
}

.header-navigation a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
    padding: 0 30px;
}

.header-navigation a:hover {
    background-color: #282c33;
    outline: 2px solid #c778dd;
    color: #c778dd;
    transition: background-color 0.5s, color 0.5s;
}

.hesh {
    font-weight: bold;
    font-size: 20px;
    color: #c778dd;
}

/* Тело */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: auto;
    height: auto;
}

.main-container {
    width: 1140px;
    background-color: #333840;
    height: auto;
    position: relative;
    padding: 0;
}

.transparent {
    position: relative;
    max-width: 400px;
    padding: 60px 50px;
    margin: 100px auto 100px;
    background-image: url(../img/5111951.jpg);
    background-size: cover;
}

.transparent::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to right bottom, rgba(43, 44, 78, .5), rgba(104, 22, 96, .5));
}

.form-inner {
    position: relative;
}

.form-inner h1 {
    position: relative;
    margin-top: 0;
    color: white;
    font-size: 26px;
    text-transform: uppercase;
}

.form-inner h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 60px;
    background-color: #c778dd;
}

.form-inner label {
    display: block;
    padding-left: 15px;
    color: rgba(255, 255, 255);
    text-transform: uppercase;
    font-size: 14px;
}

.form-inner input {
    display: block;
    width: 100%;
    padding: 0 15px;
    margin: 10px 0 15px;
    border-width: 0;
    line-height: 40px;
    border-radius: 20px;
    color: white;
    background-color: rgba(255, 255, 255, .2);
}


.form-inner input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

#custom-checkbox+label {
    position: relative;
    margin: 20px 0;
    text-transform: none;
    cursor: pointer;
}

#custom-checkbox+label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: text-top;
    background-color: white;
}

#custom-checkbox:checked+label:before {
    background-color: #c778dd;
}

#custom-checkbox:checked+label:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    left: 20px;
    top: 9px;
    background-color: white;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
}

.form-inner input[type="submit"] {
    background-color: #c778dd;
    text-transform: uppercase;
}

/*Футер*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-size: 16px;
}

.footer-container {
    width: 1140px;
    background-color: #333840;
    height: 150px;
    position: relative;
}

#foot {
    display: flex;
    justify-content: center;
    align-items: center;
}

#foot-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#copy {
    color: white;
    margin-top: -40px;
}

.footer-navigation a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
    padding: 0 30px;
}

.footer-navigation a:hover {
    color: #c778dd;
    transition: color 0.5s;
}

.footer-logo img {
    height: 130px;
    width: 130px;
}